# ------------------------------ py.config

Main_WK_DIR='/hwfssz4/BC_COM_P5/F21FTSSCKF9402/PELxszaR/53.SUSamxpR.S4'    # fix
list_sample=["TC2_15", "TC2_16", "TC2_17", "TC2_18"]    # fix
Group_list = ["TC_TZH"]    # fix
Genome_Size_KB =  2501912         # fix
Project_Num = '53'           # fix


Main_Script_DIR= '/hwfssz4/BC_PUB/Software/07.User-defined/03.Animal_Plant/wbh/02.reseq.pipeline'

# ------------------------------------------------------------------------------------------------------------------------------ S01  filter clean  data:
S01_Step02_Job_Name = 'F' + Project_Num

# s01.step01:
s01_step01_CAT_WK_DIR = Main_WK_DIR + '/01.Filter/01.raw.data'

# s01.step02:
S01_Step02_Filter_Log_DIR = Main_WK_DIR + '/01.Filter/02.process/l01.log'
s01_Step02_Tmp_Shell= Main_WK_DIR + '/01.Filter/02.process/s01.step02.soapnuke.filter.sh'

# ------------------------------------------------------------------------------------------------------------------------------ S01  filter clean  data:


# ------------------------------------------------------------------------------------------------------------------------------ S02  clean  to  bam:
S02_Step01_OU_PATH= Main_WK_DIR + '/02.bwa'
S02_Step01_Job_Name = 'B' + Project_Num
# ------------------------------------------------------------------------------------------------------------------------------ S02  clean  to  bam


# ------------------------------------------------------------------------------------------------------------------------------ S03.step01.bam.to.gvcf:
S03_Step01_OU_PATH= Main_WK_DIR + '/03.gatk/01.bam.to.gvcf.with.bed'
S03_Step01_Job_Name = 'G' + Project_Num + '_1'
# ------------------------------------------------------------------------------------------------------------------------------ S03.step01.bam.to.gvcf


# ------------------------------------------------------------------------------------------------------------------------------ S03.step02.gvcf.to.bed.gvcf:
S03_Step02_OU_PATH= Main_WK_DIR + '/03.gatk/02.gvcf.to.bed.gvcf'
S03_Step02_Job_Name = 'G' + Project_Num + '_2'
# ------------------------------------------------------------------------------------------------------------------------------ S03.step02.gvcf.to.bed.gvcf


# ------------------------------ py.config
