# ------------------------------ py.config

Main_Script_DIR= '/hwfssz4/BC_PUB/Software/07.User-defined/03.Animal_Plant/wbh/02.reseq.pipeline'

Main_WK_DIR='/hwfssz4/BC_COM_P5/F21FTSSCKF9402/PELxszaR/020.FISnazoR.S90'    # fix

list_sample=["ZH-1", "ZH-2", "ZH-3", "ZH-4", "ZH-5", "ZH-6", "ZH-7", "ZH-8", "ZH-9", "ZH-10", "ZH-11", "ZH-12", "ZH-13", "ZH-14", "ZH-15", "ZH-16", "ZH-17", "ZH-18", "ZH-19", "ZH-20", "ZH-21", "ZH-22", "ZH-23", "ZH-24", "ZH-25", "ZH-26", "ZH-27", "ZH-28", "ZH-29", "ZH-30", "ZP-1", "ZP-2", "ZP-3", "ZP-4", "ZP-5", "ZP-6", "ZP-7", "ZP-8", "ZP-9", "ZP-10", "ZP-11", "ZP-12", "ZP-13", "ZP-14", "ZP-15", "ZP-16", "ZP-17", "ZP-18", "ZP-19", "ZP-20", "ZP-21", "ZP-22", "ZP-23", "ZP-24", "ZP-25", "ZP-26", "ZP-27", "ZP-28", "ZP-29", "ZP-30", "ZC-1", "ZC-2", "ZC-3", "ZC-4", "ZC-5", "ZC-6", "ZC-7", "ZC-8", "ZC-9", "ZC-10", "ZC-11", "ZC-12", "ZC-13", "ZC-14", "ZC-15", "ZC-16", "ZC-17", "ZC-18", "ZC-19", "ZC-20", "ZC-21", "ZC-22", "ZC-23", "ZC-24", "ZC-25", "ZC-26", "ZC-27", "ZC-28", "ZC-29", "ZC-30"]    # fix


Group_list = ["Z1", "Z2", "Z3"]    # fix
Genome_Size_KB =  1739640          # fix
Project_Num = '020'           # fix



# ------------------------------------------------------------------------------------------------------------------------------ S01  filter clean  data:
S01_Step02_Job_Name = 'F' + Project_Num

# s01.step01:
s01_step01_CAT_WK_DIR = Main_WK_DIR + '/01.Filter/01.raw.data'

# s01.step02:
S01_Step02_Filter_Log_DIR = Main_WK_DIR + '/01.Filter/02.process/l01.log'
s01_Step02_Tmp_Shell= Main_WK_DIR + '/01.Filter/02.process/s01.step02.soapnuke.filter.sh'

# ------------------------------------------------------------------------------------------------------------------------------ S01  filter clean  data:


# ------------------------------------------------------------------------------------------------------------------------------ S02  clean  to  bam:
S02_Step01_OU_PATH= Main_WK_DIR + '/02.bwa'
S02_Step01_Job_Name = 'B' + Project_Num
# ------------------------------------------------------------------------------------------------------------------------------ S02  clean  to  bam


# ------------------------------------------------------------------------------------------------------------------------------ S03.step01.bam.to.gvcf:
S03_Step01_OU_PATH= Main_WK_DIR + '/03.gatk/01.bam.to.gvcf.with.bed'
S03_Step01_Job_Name = 'G' + Project_Num + '_1'
# ------------------------------------------------------------------------------------------------------------------------------ S03.step01.bam.to.gvcf


# ------------------------------------------------------------------------------------------------------------------------------ S03.step02.gvcf.to.bed.gvcf:
S03_Step02_OU_PATH= Main_WK_DIR + '/03.gatk/02.gvcf.to.bed.gvcf'
S03_Step02_Job_Name = 'G' + Project_Num + '_2'
# ------------------------------------------------------------------------------------------------------------------------------ S03.step02.gvcf.to.bed.gvcf


# ------------------------------------------------------------------------------------------------------------------------------ S03.step04  S03.step04: bed.gvcf.to.genome.gvcf::
S03_Step04_OU_PATH= Main_WK_DIR + '/03.gatk/03.bed.gvcf.to.genome.gvcf'
S03_Step04_Job_Name = 'G' + Project_Num + '_4'
# ------------------------------------------------------------------------------------------------------------------------------ S03.step04  S03.step04: bed.gvcf.to.genome.gvcf:

# ------------------------------------------------------------------------------------------------------------------------------tmp.s06.step01.bam.to.sv:
S06_Step01_OU_PATH= Main_WK_DIR + '/06.sv'
S06_Step01_Job_Name = 'SV' + Project_Num + '_1'
# ------------------------------------------------------------------------------------------------------------------------------tmp.s06.step01.bam.to.sv

# ------------------------------------------------------------------------------------------------------------------------------tmp.s07.step01.bam.to.cnv:
S07_Step01_OU_PATH= Main_WK_DIR + '/07.cnv'
S07_Step01_Job_Name = 'CNV' + Project_Num + '_1'
# ------------------------------------------------------------------------------------------------------------------------------tmp.s07.step01.bam.to.cnv

# ------------------------------ py.config

