# sh.config:
WK_DIR=/hwfssz4/BC_TS_FALCON/hewm2008/07.TRIwqzrR/03.gatk;
Script_DIR=/hwfssz4/BC_PUB/Software/07.User-defined/03.Animal_Plant/wbh/02.reseq.pipeline/gatk.shell/s01.bam.to.gvcf
REF_FA=/home/heweiming/2022Pro/07.TRIwqzrR/01.Ref/Ref.fa
TMP_DIR=$WK_DIR/Tmp
BAM=/hwfssz4/BC_TS_FALCON/hewm2008/07.TRIwqzrR/02.Mapping/02.${sample}/02.BWA/${sample}.dup.sort.bam
OUT_DIR=$WK_DIR/01.bam.to.gvcf/01.sample/${sample}
