# ------------------------------ py.config
# step 00
Job_Name = "SUSnrzjR"    # fix
Step02_Fliter_Log_DIR = '/ifswh1/BC_COM_P4/F21FTSSCKF9402/SUSnrzjR/02.process/l01.log'    # fix
Main_Sample_List = ["TC1_1", "TC1_2", "TC1_3", "TC1_4", "TC1_5", "TC1_6", "TC1_7", "TC1_8", "TC1_9", "TC1_10", "TC1_11", "TC1_12", "TC1_13", "TC1_14", "TC1_15", "TC1_16", "TC1_17", "TC1_18", "TC2_1", "TC2_2", "TC2_3", "TC2_4", "TC2_5", "TC2_6", "TC2_7", "TC2_8", "TC2_9", "TC2_10", "TC2_11", "TC2_12", "TC2_13", "TC2_14"]    # fix

# step 01
Step01_CAT_WK_DIR = '/ifswh1/BC_COM_P4/F21FTSSCKF9402/SUSnrzjR/01.raw.data'        # fix: raw data path

# step 02
Step02_Tmp_Shell= '/ifswh1/BC_COM_P4/F21FTSSCKF9402/SUSnrzjR/02.process/s02.soapnuke.fliter.sh'
# ------------------------------ py.config

