# ------------------------------ sh.config
Main_WK_DIR=/ifswh1/BC_COM_P4/F21FTSSCKF9402/SUSnrzjR     # fix
Step02_IN_PATH=/ifswh1/BC_COM_P4/F21FTSSCKF9402/SUSnrzjR/01.raw.data    # fix
Step02_OUT_PATH=/ifswh1/BC_COM_P4/F21FTSSCKF9402/SUSnrzjR/02.process/01.clean.data.l12.q0.5.n0.1   # fix
# ------------------------------ sh.config
