# sh.config:

echo -e "Start Time:      \c";  date;

REF_FA=/home/heweiming/2022Pro/08.CHInbcsR/01.Ref/Ref.fa;     # fix 
REF_DC=/home/heweiming/2022Pro/08.CHInbcsR/01.Ref/Ref.dict;   # fix 
WK_DIR=/hwfssz4/BC_TS_FALCON/hewm2008/08.CHInbcsR/03.gatk;    # fix
BAM=/hwfssz4/BC_COM_P3/hewm2008/08.CHInbcsR/02.Mapping/02.${sample}/02.BWA/${sample}.dup.sort.bam;  # fix
TMP_DIR=$WK_DIR/Tmp;
Script_DIR=/hwfssz4/BC_PUB/Software/07.User-defined/03.Animal_Plant/wbh/02.reseq.pipeline/gatk.shell/s02.bam.to.gvcf.with.bed;
BED_DIR=$WK_DIR/01.bam.to.gvcf.with.bed/bed.zone
OUT_DIR=$WK_DIR/01.bam.to.gvcf.with.bed/01.sample/${sample};
