# ------------------------------ py.config

Main_Script_DIR= '/hwfssz4/BC_PUB/Software/07.User-defined/03.Animal_Plant/wbh/02.reseq.pipeline'

Main_WK_DIR='/hwfssz4/BC_COM_P5/F21FTSSCKF9402/PELxszaR/030.FISbzxdR.S90'    # fix

list_sample=["PD1-1A", "PD1-2A", "PD1-3A", "PD1-4A", "PD1-5A", "PD1-6A", "PD1-7A", "PD1-8A", "PD1-9A", "PD1-10A", "PD1-11A", "PD1-12A", "PD1-13A", "PD1-14A", "PD1-15A", "PD1-16A", "PD1-17A", "PD1-18A", "PD1-19A", "PD1-20A", "PD1-21A", "PD1-22A", "PD1-23A", "PD1-24A", "PD1-25A", "PD1-26A", "PD1-27A", "PD1-28A", "PD1-29A", "PD1-30A", "PD2-1A", "PD2-2A", "PD2-3A", "PD2-4A", "PD2-5A", "PD2-6A", "PD2-7A", "PD2-8A", "PD2-9A", "PD2-10A", "PD2-11A", "PD2-12A", "PD2-13A", "PD2-14A", "PD2-15A", "PD2-16A", "PD2-17A", "PD2-18A", "PD2-19A", "PD2-20A", "PD2-21A", "PD2-22A", "PD2-23A", "PD2-24A", "PD2-25A", "PD2-26A", "PD2-27A", "PD2-28A", "PD2-29A", "PD2-30A", "PD3-1A", "PD3-2A", "PD3-3A", "PD3-4A", "PD3-5A", "PD3-6A", "PD3-7A", "PD3-8A", "PD3-9A", "PD3-10A", "PD3-11A", "PD3-12A", "PD3-13A", "PD3-14A", "PD3-15A", "PD3-16A", "PD3-17A", "PD3-18A", "PD3-19A", "PD3-20A", "PD3-21A", "PD3-22A", "PD3-23A", "PD3-24A", "PD3-25A", "PD3-26A", "PD3-27A", "PD3-28A", "PD3-29A", "PD3-30A"]   # fix

Group_list = ["PD1", "PD2", "PD3"]    # fix
Genome_Size_KB =  830382          # fix
Project_Num = '030'           # fix



# ------------------------------------------------------------------------------------------------------------------------------ S01  filter clean  data:
S01_Step02_Job_Name = 'F' + Project_Num

# s01.step01:
s01_step01_CAT_WK_DIR = Main_WK_DIR + '/01.Filter/01.raw.data'

# s01.step02:
S01_Step02_Filter_Log_DIR = Main_WK_DIR + '/01.Filter/02.process/l01.log'
s01_Step02_Tmp_Shell= Main_WK_DIR + '/01.Filter/02.process/s01.step02.soapnuke.filter.sh'

# ------------------------------------------------------------------------------------------------------------------------------ S01  filter clean  data:


# ------------------------------------------------------------------------------------------------------------------------------ S02  clean  to  bam:
S02_Step01_OU_PATH= Main_WK_DIR + '/02.bwa'
S02_Step01_Job_Name = 'B' + Project_Num
# ------------------------------------------------------------------------------------------------------------------------------ S02  clean  to  bam


# ------------------------------------------------------------------------------------------------------------------------------ S03.step01.bam.to.gvcf:
S03_Step01_OU_PATH= Main_WK_DIR + '/03.gatk/01.bam.to.gvcf.with.bed'
S03_Step01_Job_Name = 'G' + Project_Num + '_1'
# ------------------------------------------------------------------------------------------------------------------------------ S03.step01.bam.to.gvcf


# ------------------------------------------------------------------------------------------------------------------------------ S03.step02.gvcf.to.bed.gvcf:
S03_Step02_OU_PATH= Main_WK_DIR + '/03.gatk/02.gvcf.to.bed.gvcf'
S03_Step02_Job_Name = 'G' + Project_Num + '_2'
# ------------------------------------------------------------------------------------------------------------------------------ S03.step02.gvcf.to.bed.gvcf


# ------------------------------------------------------------------------------------------------------------------------------ S03.step04  S03.step04: bed.gvcf.to.genome.gvcf::
S03_Step04_OU_PATH= Main_WK_DIR + '/03.gatk/03.bed.gvcf.to.genome.gvcf'
S03_Step04_Job_Name = 'G' + Project_Num + '_4'
# ------------------------------------------------------------------------------------------------------------------------------ S03.step04  S03.step04: bed.gvcf.to.genome.gvcf:

# ------------------------------------------------------------------------------------------------------------------------------tmp.s06.step01.bam.to.sv:
S06_Step01_OU_PATH= Main_WK_DIR + '/06.sv'
S06_Step01_Job_Name = 'SV' + Project_Num + '_1'
# ------------------------------------------------------------------------------------------------------------------------------tmp.s06.step01.bam.to.sv

# ------------------------------------------------------------------------------------------------------------------------------tmp.s07.step01.bam.to.cnv:
S07_Step01_OU_PATH= Main_WK_DIR + '/07.cnv'
S07_Step01_Job_Name = 'CNV' + Project_Num + '_1'
# ------------------------------------------------------------------------------------------------------------------------------tmp.s07.step01.bam.to.cnv

# ------------------------------ py.config

