# ------------------------------ sh.config

echo -e "Start Time: \c";  date;  START_TIME=$SECONDS;


#
Main_WK_DIR=/hwfssz4/BC_COM_P5/F21FTSSCKF9402/PELxszaR/52.F22KTSSCKF5710_SUSfjuvR.S30    # fix
REF=$Main_WK_DIR/00.Ref/Ref.fa            # fix
REF_GFF=$Main_WK_DIR/00.Ref/Ref.gff       # fix
REF_DC=$Main_WK_DIR/00.Ref/Ref.dict       # fix
# declare array
declare -a Group_List;
Group_List=(JJ LZ AD);                    # fix


# ------------------------------------------------------------------------------------------------------------------------------ S01  filter clean  data:
S01_Step02_IN_PATH=$Main_WK_DIR/01.Filter/01.raw.data
S01_Step02_OU_PATH=$Main_WK_DIR/01.Filter/02.process/01.clean.data.l12.q0.5.n0.1
# ------------------------------------------------------------------------------------------------------------------------------ S01  filter clean  data


# ------------------------------------------------------------------------------------------------------------------------------ S02  clean to bam:
S02_Step01_IN_PATH=$Main_WK_DIR/01.Filter/02.process/01.clean.data.l12.q0.5.n0.1
S02_Step01_OU_PATH=$Main_WK_DIR/02.bwa/01.sample
# ------------------------------------------------------------------------------------------------------------------------------ S02  clean to bam:


# ------------------------------------------------------------------------------------------------------------------------------ S03.step01  bam to gvcf:
S03_Step01_IN_PATH=$Main_WK_DIR/02.bwa/01.sample
S03_Step01_OU_PATH=$Main_WK_DIR/03.gatk/01.bam.to.gvcf.with.bed
# ------------------------------------------------------------------------------------------------------------------------------ S03.step01  bam to gvcf


# ------------------------------------------------------------------------------------------------------------------------------ S03.step02  gvcf to chr gvcf:
S03_Step02_IN_PATH=$Main_WK_DIR/03.gatk/01.bam.to.gvcf.with.bed
S03_Step02_OU_PATH=$Main_WK_DIR/03.gatk/02.gvcf.to.bed.gvcf
# ------------------------------------------------------------------------------------------------------------------------------ S03.step02  gvcf to chr gvcf

# ------------------------------------------------------------------------------------------------------------------------------ S03.step03  merge snp and indels:
S03_Step03_IN_PATH=$Main_WK_DIR/03.gatk/02.gvcf.to.bed.gvcf/01.all.bed.chr
S03_Step03_OU_PATH=$Main_WK_DIR/03.gatk/02.gvcf.to.bed.gvcf/01.all.bed.chr
# ------------------------------------------------------------------------------------------------------------------------------ S03.step03  merge snp and indels


# ------------------------------------------------------------------------------------------------------------------------------ S04 Ano snp and indels:
# S04 Ano snp and indels:
S04_Step01_OU_PATH=$Main_WK_DIR/04.ano
# ------------------------------------------------------------------------------------------------------------------------------ S04 Ano snp and indels


# ------------------------------------------------------------------------------------------------------------------------------ S05 Genetic.parameter:
S05_Step01_OU_PATH=$Main_WK_DIR/05.Genetic.parameter

# ------------------------------------------------------------------------------------------------------------------------------ S05 Genetic.parameter

# ------------------------------ sh.config
