# ------------------------------ py.config

Main_Script_DIR= '/hwfssz4/BC_PUB/Software/07.User-defined/03.Animal_Plant/wbh/02.reseq.pipeline'

Main_WK_DIR='/hwfssz4/BC_COM_P5/F21FTSSCKF9402/PELxszaR/021.FISyvwxR.S90'    # fix

list_sample=["DG_1", "DG_10", "DG_11", "DG_12", "DG_13", "DG_14", "DG_15", "DG_16", "DG_17", "DG_18", "DG_19", "DG_2", "DG_20", "DG_21", "DG_22", "DG_23", "DG_24", "DG_25", "DG_26", "DG_27", "DG_28", "DG_29", "DG_3", "DG_30", "DG_4", "DG_5", "DG_6", "DG_7", "DG_8", "DG_9", "DN_1", "DN_10", "DN_11", "DN_12", "DN_13", "DN_14", "DN_15", "DN_17", "DN_19", "DN_2", "DN_20", "DN_21", "DN_22", "DN_23", "DN_24", "DN_25", "DN_26", "DN_27", "DN_28", "DN_29", "DN_3", "DN_30", "DN_5", "DN_6", "DN_7", "DN_8", "DN_9", "DX_1", "DX_10", "DX_11", "DX_12", "DX_13", "DX_14", "DX_16", "DX_17", "DX_18", "DX_19", "DX_2", "DX_20", "DX_21", "DX_22", "DX_23", "DX_24", "DX_25", "DX_26", "DX_27", "DX_28", "DX_29", "DX_3", "DX_30", "DX_4", "DX_5", "DX_6", "DX_7", "DX_8", "DX_9", "DX_15", "DN_16", "DN_18", "DN_4"]    # fix


Group_list = ["D1", "D2", "D3"]    # fix
Genome_Size_KB =  1373454          # fix
Project_Num = '021'           # fix



# ------------------------------------------------------------------------------------------------------------------------------ S01  filter clean  data:
S01_Step02_Job_Name = 'F' + Project_Num

# s01.step01:
s01_step01_CAT_WK_DIR = Main_WK_DIR + '/01.Filter/01.raw.data'

# s01.step02:
S01_Step02_Filter_Log_DIR = Main_WK_DIR + '/01.Filter/02.process/l01.log'
s01_Step02_Tmp_Shell= Main_WK_DIR + '/01.Filter/02.process/s01.step02.soapnuke.filter.sh'

# ------------------------------------------------------------------------------------------------------------------------------ S01  filter clean  data:


# ------------------------------------------------------------------------------------------------------------------------------ S02  clean  to  bam:
S02_Step01_OU_PATH= Main_WK_DIR + '/02.bwa'
S02_Step01_Job_Name = 'B' + Project_Num
# ------------------------------------------------------------------------------------------------------------------------------ S02  clean  to  bam


# ------------------------------------------------------------------------------------------------------------------------------ S03.step01.bam.to.gvcf:
S03_Step01_OU_PATH= Main_WK_DIR + '/03.gatk/01.bam.to.gvcf.with.bed'
S03_Step01_Job_Name = 'G' + Project_Num + '_1'
# ------------------------------------------------------------------------------------------------------------------------------ S03.step01.bam.to.gvcf


# ------------------------------------------------------------------------------------------------------------------------------ S03.step02.gvcf.to.bed.gvcf:
S03_Step02_OU_PATH= Main_WK_DIR + '/03.gatk/02.gvcf.to.bed.gvcf'
S03_Step02_Job_Name = 'G' + Project_Num + '_2'
# ------------------------------------------------------------------------------------------------------------------------------ S03.step02.gvcf.to.bed.gvcf


# ------------------------------------------------------------------------------------------------------------------------------ S03.step04  S03.step04: bed.gvcf.to.genome.gvcf::
S03_Step04_OU_PATH= Main_WK_DIR + '/03.gatk/03.bed.gvcf.to.genome.gvcf'
S03_Step04_Job_Name = 'G' + Project_Num + '_4'
# ------------------------------------------------------------------------------------------------------------------------------ S03.step04  S03.step04: bed.gvcf.to.genome.gvcf:

# ------------------------------------------------------------------------------------------------------------------------------tmp.s06.step01.bam.to.sv:
S06_Step01_OU_PATH= Main_WK_DIR + '/06.sv'
S06_Step01_Job_Name = 'SV' + Project_Num + '_1'
# ------------------------------------------------------------------------------------------------------------------------------tmp.s06.step01.bam.to.sv

# ------------------------------------------------------------------------------------------------------------------------------tmp.s07.step01.bam.to.cnv:
S07_Step01_OU_PATH= Main_WK_DIR + '/07.cnv'
S07_Step01_Job_Name = 'CNV' + Project_Num + '_1'
# ------------------------------------------------------------------------------------------------------------------------------tmp.s07.step01.bam.to.cnv

# ------------------------------ py.config

