# ------------------------------ py.config

Main_Script_DIR= '/hwfssz4/BC_PUB/Software/07.User-defined/03.Animal_Plant/wbh/02.reseq.pipeline'

Main_WK_DIR='/hwfssz4/BC_COM_P5/F21FTSSCKF9402/PELxszaR/019.FISqystR.S90'    # fix

list_sample=["GX_1 GX_2 GX_3 GX_4 GX_5 GX_6 GX_8 GX_9 GX_10 GX_11 GX_13 GX_14 GX_16 GX_17 GX_18 GX_23 GX_24 GX_25 GX_26 GX_27 GX_28 GX_29 GX_30 GL_1 GL_2 GL_3 GL_4 GL_5 GL_8 GL_9 GL_11 GL_12 GL_13 GL_15 GL_16 GL_17 GL_19 GL_20 GL_22 GL_25 GL_26 GL_28 GL_29 GP_1 GP_2 GP_3 GP_4 GP_5 GP_6 GP_7 GP_8 GP_9 GP_10 GP_11 GP_12 GP_13 GP_14 GP_15 GP_16 GP_18 GP_19 GP_20 GP_21 GP_25 GP_27 GP_29 GX_7 GX_12 GX_15 GX_19 GX_20 GX_21 GX_22 GL_6 GL_7 GL_10 GL_14 GL_18 GL_21 GL_23 GL_24 GL_27 GL_30 GP_17 GP_22 GP_23 GP_24 GP_26 GP_28 GP_30"]    # fix


Group_list = ["G1", "G2", "G3"]    # fix
Genome_Size_KB =  1373454          # fix
Project_Num = '019'           # fix



# ------------------------------------------------------------------------------------------------------------------------------ S01  filter clean  data:
S01_Step02_Job_Name = 'F' + Project_Num

# s01.step01:
s01_step01_CAT_WK_DIR = Main_WK_DIR + '/01.Filter/01.raw.data'

# s01.step02:
S01_Step02_Filter_Log_DIR = Main_WK_DIR + '/01.Filter/02.process/l01.log'
s01_Step02_Tmp_Shell= Main_WK_DIR + '/01.Filter/02.process/s01.step02.soapnuke.filter.sh'

# ------------------------------------------------------------------------------------------------------------------------------ S01  filter clean  data:


# ------------------------------------------------------------------------------------------------------------------------------ S02  clean  to  bam:
S02_Step01_OU_PATH= Main_WK_DIR + '/02.bwa'
S02_Step01_Job_Name = 'B' + Project_Num
# ------------------------------------------------------------------------------------------------------------------------------ S02  clean  to  bam


# ------------------------------------------------------------------------------------------------------------------------------ S03.step01.bam.to.gvcf:
S03_Step01_OU_PATH= Main_WK_DIR + '/03.gatk/01.bam.to.gvcf.with.bed'
S03_Step01_Job_Name = 'G' + Project_Num + '_1'
# ------------------------------------------------------------------------------------------------------------------------------ S03.step01.bam.to.gvcf


# ------------------------------------------------------------------------------------------------------------------------------ S03.step02.gvcf.to.bed.gvcf:
S03_Step02_OU_PATH= Main_WK_DIR + '/03.gatk/02.gvcf.to.bed.gvcf'
S03_Step02_Job_Name = 'G' + Project_Num + '_2'
# ------------------------------------------------------------------------------------------------------------------------------ S03.step02.gvcf.to.bed.gvcf


# ------------------------------------------------------------------------------------------------------------------------------ S03.step04  S03.step04: bed.gvcf.to.genome.gvcf::
S03_Step04_OU_PATH= Main_WK_DIR + '/03.gatk/03.bed.gvcf.to.genome.gvcf'
S03_Step04_Job_Name = 'G' + Project_Num + '_4'
# ------------------------------------------------------------------------------------------------------------------------------ S03.step04  S03.step04: bed.gvcf.to.genome.gvcf:

# ------------------------------------------------------------------------------------------------------------------------------tmp.s06.step01.bam.to.sv:
S06_Step01_OU_PATH= Main_WK_DIR + '/06.sv'
S06_Step01_Job_Name = 'SV' + Project_Num + '_1'
# ------------------------------------------------------------------------------------------------------------------------------tmp.s06.step01.bam.to.sv

# ------------------------------------------------------------------------------------------------------------------------------tmp.s07.step01.bam.to.cnv:
S07_Step01_OU_PATH= Main_WK_DIR + '/07.cnv'
S07_Step01_Job_Name = 'CNV' + Project_Num + '_1'
# ------------------------------------------------------------------------------------------------------------------------------tmp.s07.step01.bam.to.cnv

# ------------------------------ py.config

