# ------------------------------ sh.config

echo -e "Start Time: \c";  date;  START_TIME=$SECONDS;


# workpath
Main_WK_DIR=/public/home/bgiadmin/Project/F21FTSSCKF9402/ANIqxmyR/02.Analysis/120.ANIqxmyR.S120        # fix
# declare array
declare -a Group_List;
Group_List=();                                     # fix
Group_List=(DJK CH XKH QDH MH LZH);                    # fix


REF=$Main_WK_DIR/00.ref/Ref.fa
REF_GFF=$Main_WK_DIR/00.ref/Ref.gff
REF_DC=$Main_WK_DIR/00.ref/Ref.dict

# ------------------------------------------------------------------------------------------------------------------------------ S00 software:

# Public:

TIME=/usr/bin/time
md5sum=/usr/bin/md5sum

perl=/usr/bin/perl
Python=/public/home/bgi_wangbinhu/anaconda3/bin/python
Rscript=/public2/BGI/Software/Rscript/R-3.6.3/bin/Rscript

JAVA=/usr/bin/java
bcftools=/public/home/bgiadmin/Software/08.ReqTools/bcftools-1.9/bin/bcftools
iTools=/public/home/bgiadmin/Software/08.ReqTools/iTools_Code/iTools

tabix=/public/home/bgiadmin/Software/tabix-0.2.6/tabix
bgzip=/public/home/bgiadmin/Software/tabix-0.2.6/bgzip

# filter:
SOAPnuke=/public/home/bgiadmin/Software/00.data_process/SOAPnuke2.1.0/SOAPnuke

# bwa:
BWA=/public/home/bgiadmin/Software/05.align/bwa-0.7.17/bwa
SAMTOOLS=/public/home/bgiadmin/Software/08.ReqTools/samtools-1.9/bin/samtools
BAMDEAL=/public/home/bgiadmin/Software/08.ReqTools/BamDeal-0.26/bin/BamDeal_Linux

# bam to gvcf
GATK4=/public/home/bgiadmin/Software/08.ReqTools/GenomeAnalysisTK/gatk-4.1.2.0/gatk-package-4.1.2.0-local.jar


# gatk step02:
# script:
filter_gvcf=/public/home/bgiadmin/Software/10.User-defined/WBH/02.reseq.pipeline/01.Temp.Configure/s03.gatk.shell/s0a.merge.all.sample.gvcf.to.bed.vcf.bed/filter.gvcf.pl
filter_flag_ok=/public/home/bgiadmin/Software/10.User-defined/WBH/02.reseq.pipeline/01.Temp.Configure/s03.gatk.shell/s0a.merge.all.sample.gvcf.to.bed.vcf.bed/filter.flag.ok.pl

# gatk step03:
# merge snp and indels
vcf='/public/home/bgiadmin/Software/10.User-defined/WBH/00.script/vcf.summary.sh'
picard=/public/home/bgiadmin/Software/10.User-defined/WBH/02.reseq.pipeline/01.Temp.Configure/s00.software/picard-2.18.16/picard.jar

# gatk step04:
# bed gvcf to genome gvcf


# S04_Step01：
# ano snp and indels
Python_Script=/public/home/bgiadmin/Software/10.User-defined/WBH/02.reseq.pipeline/01.Temp.Configure/s04.ano.shell/prepare_anno.py
ht='bash /public/home/bgiadmin/Software/10.User-defined/WBH/00.script/ht.sh'

# $S05_Step01:
# genetic.parameter
vcftools=/public/home/bgiadmin/Software/10.User-defined/WBH/miniconda3/bin/vcftools

# SV:
delly=/public/home/bgiadmin/anaconda3/bin/delly
sv_counts=/public/home/bgiadmin/Software/10.User-defined/WBH/02.reseq.pipeline/01.Temp.Configure/S06.SV/S06.step01.bam.to.sv/sv_counts.pl

# SV Ano::

AnoChangFormat=/public/home/bgiadmin/Software/10.User-defined/WBH/DNA_Reseq_One/07.RunGATK/AnoChangFormat.pl
Add_VCF_AnoVV=/public/home/bgiadmin/Software/10.User-defined/WBH/DNA_Reseq_One/07.RunGATK/Add_VCF_AnoVV.pl

# CNV:
cnvnator=/public/home/bgiadmin/anaconda3/envs/cnvnator/bin/cnvnator
cnvnator2VCF=/public/home/bgiadmin/Software/10.User-defined/WBH/02.reseq.pipeline/01.Temp.Configure/S07.CNV/S07.step02.cnv.merge.and.ano/cnvnator2VCF.pl

# CNV Ano:
AnoStat=/public/home/bgiadmin/Software/10.User-defined/WBH/DNA_Reseq_One/09.StatTable/02.Indel/03.AnoStat.pl


# ------------------------------------------------------------------------------------------------------------------------------ S00 software


# ------------------------------------------------------------------------------------------------------------------------------ S01  filter clean  data:
S01_Step02_IN_PATH=$Main_WK_DIR/01.Filter/01.raw.data
S01_Step02_OU_PATH=$Main_WK_DIR/01.Filter/02.process/01.clean.data.l12.q0.5.n0.1
# ------------------------------------------------------------------------------------------------------------------------------ S01  filter clean  data


# ------------------------------------------------------------------------------------------------------------------------------ S02  clean to bam:
S02_Step01_IN_PATH=$Main_WK_DIR/01.Filter/02.process/01.clean.data.l12.q0.5.n0.1
S02_Step01_OU_PATH=$Main_WK_DIR/02.bwa/01.sample
# ------------------------------------------------------------------------------------------------------------------------------ S02  clean to bam:


# ------------------------------------------------------------------------------------------------------------------------------ S03.step01  bam to gvcf:
S03_Step01_IN_PATH=$Main_WK_DIR/02.bwa/01.sample
S03_Step01_OU_PATH=$Main_WK_DIR/03.gatk/01.bam.to.gvcf.with.bed
# ------------------------------------------------------------------------------------------------------------------------------ S03.step01  bam to gvcf


# ------------------------------------------------------------------------------------------------------------------------------ S03.step02  gvcf to chr gvcf:
S03_Step02_IN_PATH=$Main_WK_DIR/03.gatk/01.bam.to.gvcf.with.bed
S03_Step02_OU_PATH=$Main_WK_DIR/03.gatk/02.gvcf.to.bed.gvcf
# ------------------------------------------------------------------------------------------------------------------------------ S03.step02  gvcf to chr gvcf

# ------------------------------------------------------------------------------------------------------------------------------ S03.step03  merge snp and indels:
S03_Step03_IN_PATH=$Main_WK_DIR/03.gatk/02.gvcf.to.bed.gvcf/01.all.bed.chr
S03_Step03_OU_PATH=$Main_WK_DIR/03.gatk/02.gvcf.to.bed.gvcf/01.all.bed.chr
# ------------------------------------------------------------------------------------------------------------------------------ S03.step03  merge snp and indels

# ------------------------------------------------------------------------------------------------------------------------------ S03.step04  S03.step04: bed.gvcf.to.genome.gvcf:
S03_Step04_IN_PATH=$Main_WK_DIR/03.gatk/01.bam.to.gvcf.with.bed
S03_Step04_OU_PATH=$Main_WK_DIR/03.gatk/03.bed.gvcf.to.genome.gvcf
# ------------------------------------------------------------------------------------------------------------------------------ S03.step04  S03.step04: bed.gvcf.to.genome.gvcf



# ------------------------------------------------------------------------------------------------------------------------------ S04 Ano snp and indels:
# S04 Ano snp and indels:
S04_Step01_OU_PATH=$Main_WK_DIR/04.ano
# ------------------------------------------------------------------------------------------------------------------------------ S04 Ano snp and indels


# ------------------------------------------------------------------------------------------------------------------------------ S05 Genetic.parameter:
S05_Step01_OU_PATH=$Main_WK_DIR/05.Genetic.parameter

# ------------------------------------------------------------------------------------------------------------------------------ S05 Genetic.parameter

# ------------------------------------------------------------------------------------------------------------------------------ S06 SV and ano:

## S06.step01:
S06_Step01_IN_PATH=$Main_WK_DIR/02.bwa/01.sample
S06_Step01_OU_PATH=$Main_WK_DIR/06.sv

## S06.step02:
S06_Step02_IN_PATH=$Main_WK_DIR/06.sv/01.sample
S06_Step02_OU_PATH=$Main_WK_DIR/06.sv/02.merge.sv.and.ano

# ------------------------------------------------------------------------------------------------------------------------------ S06 SV and ano

# ------------------------------------------------------------------------------------------------------------------------------ S07 CNV and ano:

## S07.step01:
S07_Step01_IN_PATH=$Main_WK_DIR/02.bwa/01.sample
S07_Step01_OU_PATH=$Main_WK_DIR/07.cnv

## S07.step02:
S07_Step02_IN_PATH=$Main_WK_DIR/07.cnv/01.sample
S07_Step02_OU_PATH=$Main_WK_DIR/07.cnv/02.merge.cnv.and.ano

# ------------------------------------------------------------------------------------------------------------------------------ S07 CNV and ano

# ------------------------------ sh.config

